<td style="width:40px">
  <span data-toggle="modal" data-target="#crud-model-modal">
    <a {{action 'edit' record}} href="#" role="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" data-html="true" title="Edit <b>{{get record entityIdentifier}}</b>">
      <i class="fa fa-edit"/>
    </a>
  </span>
</td>